<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480273579736-h8a2sqprs241kb6koeknudv3p6uq2p8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480273579736-h8a2sqprs241kb6koeknudv3p6uq2p8h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>480273579736-dn516s06dgqvdgfs8j8hott3pqhap82u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Om2an716lBujgTTAeT5Eajz-Q-qy-7U</string>
	<key>GCM_SENDER_ID</key>
	<string>480273579736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roadstar.customer</string>
	<key>PROJECT_ID</key>
	<string>road-star-7e560</string>
	<key>STORAGE_BUCKET</key>
	<string>road-star-7e560.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480273579736:ios:efdb56d559e157053be1ad</string>
	<key>DATABASE_URL</key>
	<string>https://road-star-7e560.firebaseio.com</string>
</dict>
</plist>